<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href= "{{ url_for('static',filename='styles/simple.css') }}">
    <title>Simon's Wetterstation</title>
	
</head>
<body>
   <h1>Übersicht der Sensoren</h1>
   <ul>
   {% for sensor_x in list_of_sensors %} 
   <li>{{ sensor_x.sensorName }} : Temperatur = {{ sensor_x.live_temp }} , Update am: {{sensor_x.last_update }} , <a href="http://192.168.42.209:5000{{url_for('details', id=sensor_x.sensorID) }}">Details</a> <a href="http://192.168.42.209:5000{{url_for('history', id=sensor_x.sensorID) }}">Plot</a></li>
   {% endfor %}
   </ul>
</body>
</html>
