<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href= "{{ url_for('static',filename='styles/simple.css') }}">
    <title>Simon's Wetterstation</title>
</head>
<body>
	<h1>Übersicht von {{sensor_x.sensorName }}</h1>
	<ul>
	<li>Sensor ID: {{sensor_x.sensorID }}</li>
	<li>Sensor Location: {{sensor_x.sensorLocation }}</li>
	<li>Sensor Typ: {{sensor_x.sensorType }}</li>
	<li>Aktuelle Werte : Temperatur = {{ sensor_x.live_temp }} , Update am: {{sensor_x.last_update }}</li>
	<li>Aktuelle Werte : Humidity = {{ sensor_x.live_hum }} </li>
	<li>Aktuelle Werte : Pressure = {{ sensor_x.live_pres }} </li>
	<li>Aktuelle Werte : Battery = {{ sensor_x.battery_voltage }} </li>
	</ul>
</body>
</html>
