<!doctype html>


<html lang="en">
<head>
	<!--<link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">-->
	<link rel="stylesheet" href= "{{ url_for('static',filename='styles/simple.css') }}">
    <title>Sensor history over last few days</title>	
</head>
<header>
<nav>
  <a href="/">Home</a>
  <a href="/notes">Notes</a>
  <a href="/guestbook">Guestbook</a>
  <a href="/contact">Contact</a>
  <!--<a <button onclick="myFunction()">Toggle dark mode</button> </a>-->
  
</nav>
</header>

<body>
  <h1>Hello Plotly (but not Dash)</h1>
  
  <div id='chart1' class='chart'”></div>
  <div id='chart2' class='chart'”></div>
  <div id='chart3' class='chart'”></div>
  <div id='chart4' class='chart'”></div>
</body><script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart1',graphs,{});
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
  var graphs4 = {{graphJSON4 | safe}};
  Plotly.plot('chart4',graphs4,{});  
</script>


<!--<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
</script>-->


</html>